<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683403377879-bdnps31r2q15biaslm0vnndamr0q4l6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683403377879-bdnps31r2q15biaslm0vnndamr0q4l6k</string>
	<key>API_KEY</key>
	<string>AIzaSyCdzkrVFwIcwhOgInqkYZB-beGle00s4-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>683403377879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jafton.morphzing</string>
	<key>PROJECT_ID</key>
	<string>morphzing-81f2d</string>
	<key>STORAGE_BUCKET</key>
	<string>morphzing-81f2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683403377879:ios:898a44fb30be16d8434492</string>
</dict>
</plist>